*{ 
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* ====== CABEÇALHO ====== */
header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    box-sizing: border-box;
}

.logo img {
    width: 140px;
}

nav a {
    color: #808080;
    text-transform: uppercase;
    padding: 7px 15px;
    margin: 0 5px;
    transition: background-color 0.5s ease-in-out;
}

nav a:hover {
    color: #fff;
    background-color: #3789B2;
}

/* ====== BANNER ====== */
.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* ====== QUEM SOMOS ====== */
.quem-somos {
    width: 80%;
    margin: 40px auto;
    text-align: justify;
}

.quem-somos .titulo {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    color: #808080;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.quem-somos span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    color: #808080;
    font-weight: 600;
}

/* ====== SERVIÇOS ====== */
.servicos {
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.titulo-bloco-servicos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.titulo-bloco-servicos h2 {
    color: #808080;
    text-transform: uppercase;
    margin: 0 10px;
}

.borda-esquerda hr, .borda-direita hr {
    width: 100px;
    border: 1px solid #ccc;
}

.bloco-servicos {
    width: 300px;
    margin: 15px;
}

.bloco-servicos img {
    margin: 0 auto 15px auto;
}

.bloco-servicos h2 {
    color: #808080;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.bloco-servicos p {
    color: #808080;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
}

/* ====== CONTATO ====== */
.contato {
    width: 100%;
    background-color: #3789B2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 280px;
}

form input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5px 0;
    resize: none;
}

form button {
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ccc;
    color: #808080;
}

.contato a {
    background-color: #25D366;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    color: #FFF;
    margin-top: 20px;
    font-weight: bold;
}

.contato a:hover {
    background-color: #075E54;
}

.contato img {
    width: 36px;
    margin-right: 10px;
}

/* ====== RODAPÉ ====== */
footer {
    background-color: #808080;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.8em;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
